.srd-link {
  .srd-default-link {
    &.reverse {
      path.path {
        animation-direction: reverse;
      }
    }

    .label {
      pointer-events: none;

      > div {
        display: inline-block;
        position: absolute;
      }
    }
  }
}
