.srd-link {
  &:hover,
  &.selected {
    .srd-segment {
      path {
        stroke: rgb(0, 192, 255);

        &.halo {
          opacity: 0.1;
        }

        &.path {
          stroke-dasharray: 10, 5;
          animation: dash 60s linear infinite;
        }
      }
    }
  }
  .srd-segment {
    path {
      fill: none;
      pointer-events: all;

      &.halo {
        stroke-linecap: round;
        opacity: 0;
      }

      &.path {
        cursor: pointer;
        stroke-linecap: square;
      }
    }
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
